.app-container{
    display: grid;
    grid-template-columns: repeat(3,4fr);
    width: 100%;
    font-size: 1.2rem;
}

.app-content{
 grid-column-start: 2;
 grid-column-end: 3;
  display: grid;
  grid-template-rows: 20% 75%;
  gap: 5%;
  height: 100vh;
}

@media screen and (max-width:1000px) {
  .app-content{
    grid-column-start: 1;
    grid-column-end: 4;
     display: grid;
     grid-template-rows: 20% 75%;
     gap: 5%;
     height: 100vh;
   }
}